@model Crowdfund.Core.Model.Options.CreateBuyerOptions

<form class="js-create-buyer" method="post" action="@Url.Action("Createbuyer", "Buyer")">

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="@Html.IdFor(b => b.FirstName)">First Name</label>
            @Html.TextBoxFor(b => b.FirstName,
                new { @class = "form-control js-firstname", placeholder = "enter your first name" })
        </div>
        <div class="form-group col-md-4">
            <label for="@Html.IdFor(b => b.LastName)">Last Name</label>
            @Html.TextBoxFor(b => b.LastName,
                new { @class = "form-control js-lastname ", placeholder = "enter your last name" })
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="@Html.IdFor(b => b.Email)"> Email</label>
                @Html.TextBoxFor(b => b.Email,
                    new { @class = "form-control js-email ", placeholder = "enter your email" })
            </div>
            <div class="form-group col-md-4">
                <label for="@Html.IdFor(b => b.Age)">Age</label>
                @Html.TextBoxFor(b => b.Age,
                    new { @class = "form-control js-age", placeholder = "enter your age" })
            </div>
        </div>
    </div>
    @*<div class="form-row">
            <div class="form-group col-md-8">
                <label for="@Html.IdFor(b => b.Photo)"> Photo</label>
                @Html.TextBoxFor(b => b.Photo,
                    new { @class = "form-control ", placeholder = "enter photo url" })
            </div>
        </div>*@
    <button type="button" class="btn btn-primary js-submit-buyer">Submit</button>
</form>

<div class="alert alert-danger js-create-buyer-alert" role="alert"
     style="display: none">
</div>

<div class="alert alert-success js-create-buyer-success" role="alert"
     style="display: none">
</div>